{% extends "layout.html" %}
{% block title %}Ask{% endblock %}
{% block head %}
    {{ super() }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var loginStatus = $("#isLogin").val()
        $("form").submit(function(event){
            if (loginStatus === "False") {
              var link = $("#url_linktext").attr('href');
              // alert(link);
              event.preventDefault();
              window.location.href = link;
            }
        });
    });
    </script>
{% endblock %}
{% block content %}
  <h1>Ask a Question</h1>
  <form role="form" action="" method="POST">
    <div class="form-group">
    <label for="exampleInputTitle">Question Title</label>
    <input type="text" class="form-control" id="exampleInputTitle" placeholder="Enter question">
    </div>
    <div class="form-group">
    <label for="exampleInputContent">Content</label>
    <textarea class="form-control" id="exampleInputContent" placeholder="Question content"></textarea>
    </div>
    <div class="form-group">
    <label for="exampleInputFile">Upload pictures</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Please upload your picture if applied.</p>
    </div>
    <input type="hidden" id="isLogin" value="{{ isLogin }}">
    <input type="text" id="jane" value="{{ jane }}">
    <button type="submit" class="btn btn-default" id="submit">Submit</button>
    <button type="button" class="btn btn-default"><a href="/">Cancel</a></button>
  </form>
  
{% endblock %}