body {
  font-family: Verdana, Helvetica, sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
    text-align: center;
}

.important { 
	color: purple; 
}

.col-lg-6 {
	width: 100%;
}

#exampleInputContent {
	height: 10em;
}

.preview_answer {
	clear: both;
	padding: 3px;
	border: 2px dotted #ccc;
	font-size: 107%;
	line-height: 130%;
	width: 660px;
	word-wrap: break-word;
}

.editYourContent {
	height: 10em;
}