body {
  font-family: Verdana, Helvetica, sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
    text-align: center;
}

.important { 
	color: purple;
	font-weight: bold;
}

.col-lg-6 {
	width: 100%;
}

#exampleInputContent {
	height: 10em;
}

.preview_answer {
	clear: both;
	padding: 3px;
	border: 2px dotted #ccc;
	font-size: 107%;
	line-height: 130%;
	width: 660px;
	word-wrap: break-word;
}

.description {
	font-family: Arial;
	font-size: 16px;
	margin: 1px 1px 1px 1px;
	vertical-align: top;
}

.error {
	color: red;
	font-size: 18px;
}

.hidden {
	display: none;
}

.tags {
	display: inline;
}

.votes {
	position: auto;
    left: 0px;
    width: 10%;
    /*background-color: #b0e0e6;*/
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}

.date {
	position: relative;
	right: 0px;
}

.vbtn {
	padding: 0 0 0 0;
	font-size: 90%;
	width: 45px;
}

.indent {
	margin-left: 10%;
}

