{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block head %}
    {{ super() }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var loginStatus = $("#isLogin").val()
        $("#postAnswer").submit(function(event){
            if (loginStatus === "False") {
            	var link = $("#url_linktext").attr('href');
              	alert("Please login first.");
              	event.preventDefault();
              	window.location.href = link;
            } else if($("#answerContent").val() == '') {
            	alert("Answer Content cannot be empty.");
            	event.preventDefault();
            }
        });

        $("#editQuestion").click(function() {
			$(this).next("form").removeClass("hidden");
        });

        {% for answer in answers %}
        $("#{{ answer.key.id() }}").click(function() {
        	$(this).next("form").removeClass("hidden");
        });
        {% endfor %}
    });
    </script>
{% endblock %}
{% block content %}	
	<div class="question">
		<h2><a href="/view?qid={{ question.key.id() }}">{{ question.title }}</a></h2>
		<hr>
		<div class="votes inline">
		<form action="/vote/up?qid={{ question.key.id() }}" method="POST">
			<input type="submit" class="btn btn-default vbtn" value="Up"></form>
    	<label>{{ question.vote }}</label> 
    	<form action="/vote/down?qid={{ question.key.id() }}" method="POST">
			<input type="submit" class="btn btn-default vbtn" value="Down"></form>
    	</div>
    	<div class="description inline">{{ question.content| replace_html | safe }}</div>
    	<div class="tags block indent">{% for tag in question.tags %}<li class="tags"><a href="/tag/?tag={{ tag }}">{{ tag }}</a></li> {% endfor %}
    	</div>
    	<div class="date block indent"><label>Date:</label> {{ question.date_edit }}</div>
    	{% if user == question.author %}
    		<button id="editQuestion" type="button" class="btn btn-default indent">
				I wanna Edit this</button>	
			<form action="/edit?qid={{ question.key.id() }}" method="POST" class="hidden">
			<textarea class="form-control" rows="7" name="content">{{ question.content }}</textarea>
			<div class="form-group has-feedback">
    		<p><label for="exampleInputFile">Tags</label> deliminated by <span class="important">comma</span></p>
    		<input type="text" class="form-control" id="exampleInputFile" name="tags" value="{% for tag in question.tags %}{{ tag }},{% endfor %}">
    		</div>
			<button type="submit" class="btn btn-default">Submit My Edit</button>
			</form>
		{% endif %}
	</div>
	<hr>
	<div class="answers">
		{% for answer in answers %}
		<div class="votes inline">
		<form action="/vote/up?qid={{ question.key.id() }}&aid={{ answer.key.id() }}" method="POST">
			<input type="submit" class="btn btn-default vbtn" value="Up"></form>
    	<label>{{ answer.vote }}</label> 
    	<form action="/vote/down?qid={{ question.key.id() }}&aid={{ answer.key.id() }}" method="POST">
    		<input type="submit" class="btn btn-default vbtn" value="Down"></form>
    	</div>
		<div class="description inline"><p class="answerContent">{{ answer.content| replace_html | safe }}</p></div>
		<div class="author date indent"><label>{{ answer.author }}</label> answered at <label>{{ question.date_edit }} </label></div>
		{% if user == answer.author %}
			<button id="{{ answer.key.id() }}" type="button" class="btn btn-default indent">I wanna Edit this</button>
			<form action="/edit?qid={{ question.key.id() }}&aid={{ answer.key.id() }}" method="POST" class="hidden">
			<textarea class="form-control answers" rows="7" name="content">{{ answer.content }}</textarea>
			<button type="submit" class="btn btn-default">Submit My Edit</button>
			</form>
		{% endif %}
		<hr>
		{% endfor %}
	</div>
	<div class="add_answer">
	<h3>Your Answer</h3>
	<form id="postAnswer" action="/answer?qid={{ question.key.id() }}" method="POST">
		<div class="form-group">
    	<textarea id="answerContent" class="form-control" name="content" rows="8" placeholder="Answer content"></textarea>
    	</div>
		<input type="submit" id="submit" class="btn btn-default" value="Post Answer">
	</form>
	</div>
	<div class="preview_answer">
		<p>This is a preview of your answer</p>
	</div>
  
{% endblock %}